<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <connectionStrings>
    <add name="BOExchange" connectionString="Data Source=127.0.0.1;Initial Catalog=BOExchange_NG;User ID=sa;Password=admin123@"
     providerName="System.Data.SqlClient" />
    <add name="OMSExchange" connectionString="Data Source=127.0.0.1;Initial Catalog=OMSExchange_NG;User ID=sa;Password=admin123@"
     providerName="System.Data.SqlClient" />
    <add name="OMEConnectionStr" connectionString="Data Source=127.0.0.1;Initial Catalog=OME_NG;User ID=sa;Password=admin123@"
     providerName="System.Data.SqlClient" />
    <add name="OME_ORDERConnectionStr" connectionString="Data Source=127.0.0.1;Initial Catalog=OME_ORDER;User ID=sa;Password=admin123@"
   providerName="System.Data.SqlClient" />
    <add name="DataManagerCnnStr" connectionString="Data Source=127.0.0.1;Initial Catalog=DataManager;User ID=sa;Password=admin123@"
   providerName="System.Data.SqlClient" />
    <add name="BOExchangeConnectionString" connectionString="Data Source=127.0.0.1;Initial Catalog=BOExchange_NG;User ID=sa;Password=admin123@"
     providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2" maxRequestLength="2147483647"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="BOEngine.BOEngineService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="Custom_Http" contract="BOEngine.IBOEngineService">
          <identity>
            <dns value="192.168.2.77"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.2.77:8533/BOEngine/BOEngineService.svc"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="Custom_Http" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" >
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" />
          <security mode="None"/>
          <reliableSession inactivityTimeout="00:10:00"/>
        </binding>
      </wsHttpBinding>
      <!--<basicHttpBinding>
        <binding name="Custom_Http" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647"/>
          <security mode="None"/>
        </binding>
      </basicHttpBinding>-->
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceThrottling maxConcurrentCalls="2147483647" maxConcurrentInstances="2147483647" maxConcurrentSessions="2147483647"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647"/>
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        preCondition="managedHandler"/>
    </modules>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>

</configuration>
