<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="clsInterface4OME.Properties.Settings.BOExchangeConnectionString"
            connectionString="Data Source=192.168.1.87;Initial Catalog=BOExchange;User ID=sa;Password=admin123@"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>