<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="DBConnectionString" connectionString="Data Source=192.168.1.7;Initial Catalog=BOExchange;User ID=sa;Password=admin123@" providerName="System.Data.SqlClient"/>
		<add name="BOExchangeConnectionString2" connectionString="Data Source=192.168.1.7;Initial Catalog=BOExchange;Persist Security Info=True;User ID=sa" providerName="System.Data.SqlClient"/>
		<add name="BOExchangeConnectionString" connectionString="Data Source=192.168.1.7;Initial Catalog=BOExchange;Persist Security Info=True;User ID=sa;Password=admin123@" providerName="System.Data.SqlClient"/>
		<add name="BOExchangeConnectionString1" connectionString="Data Source=.;Initial Catalog=BOExchange;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<httpRuntime maxRequestLength="2147483647"/>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
	</system.web>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" closeTimeout="00:03:00" openTimeout="00:03:00" receiveTimeout="00:10:00" sendTimeout="00:03:00">
					<readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647"/>
					<security mode="None"/>
				</binding>
			</basicHttpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
					<serviceMetadata httpGetEnabled="true"/>
					<serviceThrottling maxConcurrentCalls="100" maxConcurrentInstances="100" maxConcurrentSessions="100"/>
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
	</system.serviceModel>
	<system.net>
		<connectionManagement>
			<add address="*" maxconnection="100"/>
		</connectionManagement>
	</system.net>
	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="2147483647"/>
			</requestFiltering>
		</security>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
</configuration>
