<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAcessLogic.Properties.Settings.OMSExchangeConnectionString"
            connectionString="Data Source=.;Initial Catalog=OMSExchange;User ID=sa;Password=admin123@"
            providerName="System.Data.SqlClient" />
        <add name="DataAcessLogic.Properties.Settings.BOExchangeConnectionString"
            connectionString="Data Source=127.0.0.1;Initial Catalog=BOExchange;User ID=sa;Password=admin123@"
            providerName="System.Data.SqlClient" />
        <add name="DataAcessLogic.Properties.Settings.OMSExchange_NGConnectionString"
            connectionString="Data Source=.;Initial Catalog=OMSExchange_NG;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataAcessLogic.Properties.Settings.OMSExchange_NGConnectionString1"
            connectionString="Data Source=.;Initial Catalog=OMSExchange_NG;Persist Security Info=True;User ID=sa;Password=admin123@"
            providerName="System.Data.SqlClient" />
        <add name="DataAcessLogic.Properties.Settings.BOExchange_NGConnectionString"
            connectionString="Data Source=.;Initial Catalog=BOExchange_NG;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>